global:
  checkNewVersion: false
  sendAnonymousUsage: false
log:
  level: DEBUG
api:
  dashboard: true
  insecure: true
entryPoints:
  web:
    address: :80
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: :443
    http:
      tls:
        certResolver: desec
        domains:
          - main: "{{ domain }}"
            sans:
              - "*.{{ domain }}"
      middlewares:
        - authelia@docker

       
providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false

certificatesResolvers:
  desec:
    acme:
      email: {{ email }}
      storage: /var/traefik/certs/desec.json
      caServer: https://acme-v02.api.letsencrypt.org/directory
      dnsChallenge:
        provider: desec
        resolvers:
          - "ns1.desec.io:53"
          - "ns2.desec.org:53"
          - "1.1.1.1:53"
