---
- Network Stack:
    - Adguard:
        icon: adguard-home
        href: https://adguard.{{ domain }}
        description: AdguardHome
    - DDNS-Updater:
        icon: ddns-updater
        href: https://ddns-updater.{{ domain }}
        description: DDNS-Updater
    - Traefik:
        icon: traefik-proxy
        href: https://traefik.{{ domain }}
        description: Traefik
