---
- Management:
  - Dockhand
        icon: dockhand
        href: https://dockhand.{{ DOMAIN }}
        description: Dockhand
- Network Stack:
    - Adguard:
        icon: adguard-home
        href: https://adguard.{{ DOMAIN }}
        description: AdguardHome
    - DDNS-Updater:
        icon: ddns-updater
        href: https://ddns-updater.{{ DOMAIN }}
        description: DDNS-Updater
    - Traefik:
        icon: traefik-proxy
        href: https://traefik.{{ DOMAIN }}
        description: Traefik
